.main {
    width: 100%;
}

.objs .buttonImg,
.objs .backgroundButton {
    height: 2rem !important;
    top: -29% !important;
}

.buttonImg:hover {
    opacity: 0.7;
}

.itemPagOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.objs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.text {
    text-align: center;
}

.text * {
    margin: 1.5rem 0rem;
    text-shadow: none;
}

.text p,
.text h2 {
    width: 97%;
}

.linkThird-party {
    text-align: center;
    color: var(--blue-100);
    font-weight: 700;
    font-size: 1.2rem;
}

.linkThird-party:hover {
    opacity: 0.7;
}

.video {
    width: 70%;
    margin-bottom: 7rem;
}

.youtube {
    width: 70%;
    height: 33rem;
    margin-bottom: 7rem;
}

.borderCicle {
    position: absolute;
    width: 70%;
    z-index: -1;
    top: 0%;
    left: 0%;
}

.borderCicleLast {
    position: absolute;
    width: 70%;
    z-index: -1;
    top: 5%;
    left: 0%;
}


.BorderTop {
    position: absolute;
    width: 100%;
    z-index: -2;
    top: -2.5%;
}

.spaceBottomTwo {
    height: 7rem;
}

@media (max-width: 1025px) {
    .youtube {
        height: 25rem;
    }
}

@media (max-width: 915px) {
    .youtube {
        height: 22rem;
    }
}

@media (max-width: 855px) {
    .youtube {
        height: 20rem;
    }

    .spaceBottomTwo {
        height: 3rem;
    }
}

@media (max-width: 570px) {
    .linkThird-party {
        font-size: .9rem;
    }

    .video {
        margin-bottom: 10%;
    }

    .youtube {
        height: 17rem;
    }

    .objs .blueButton {
        width: 50%;
        margin: 10% 0;
    }

    .objs .buttonImg,
    .objs .backgroundButton {
        top: -59% !important;
    }

    .borderCicle {
        top: 37%;
    }

    .borderCicleLast {
        top: 37%;
    }

    .spaceBottom {
        height: 5rem;
    }
}

@media (max-width: 470px) {

    .text p,
    .text h2 {
        width: 90%;
    }

    .linkThird-party {
        width: 80%;
    }

    .youtube {
        height: 12rem;
    }

    .borderCicleLast {
        top: 44%;
    }
}

@media (max-width: 390px) {

    .borderCicle {
        top: 40%;
    }

    .borderCicleLast {
        top: 52%;
    }
}

@media (max-width: 380px) {

    .borderCicle {
        top: 47%;
    }
}